*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(240, 224, 255);
}
header{
    background-color: rgb(25, 77, 38);
    color: rgb(255, 251, 246);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
hero{
    justify-content: space-around;
    align-items: center;
}
#hero-buttons{
    display: flex;
    gap: 20px;
}
.myclass{
    color:rgb(25, 72, 24);
}
img{
    margin: 15px;
    width: 155px;
    border: 2px solid rgb(1, 86, 90);
    border-radius: 25px;
    box-shadow: 7px 7px 30px rgb(1, 37, 73);
}
button {
    font-size: 25px;
    background-color: rgb(25, 77, 38);
    color: rgb(255, 251, 246);
    border-radius: 10px;
}


/*question 1*/
#box{
    background-color: blue;
    color: white;
}


/*question 3*/



p{
    color: rgb(0, 51, 56);
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#one{
    background-color: rgb(0, 51, 56);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: normal;
    line-height: normal;
    text-transform: uppercase;
}
#two{
    background-color: rgb(0, 51, 56);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    text-transform: capitalize;
}
#three{
    background-color: rgb(0, 51, 56);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 5px;
}

#heading{
    text-align: center;
    text-transform: capitalize;
    background-color: rgb(23, 228, 255);
}

#outer{
    font-size: 25px;
    background-color: rgb(23, 228, 255);
}
#inner{
    font-size: 10px;
    background-color: rgb(158, 203, 24);
}   